#wrapper {
    position: absolute;
    border-left: 200px solid indigo;
    border-right: 200px solid indigo;
    border-top: 100px solid indigo;
}
body {
    background-color: black;
    text-align: center;
}
h1 {
    text-align: center;
    font-size: 80px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:blueviolet;
}
#intro {
    text-align: center;
    font-size: 20px;
}
#list {
    text-align:left;
}
h2 {
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:aqua;
}
h3 {
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:aquamarine;
}
p {
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}
.column {
    float:left;
    width: 25%;
    padding: 30px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}