#wrapper {
    position: absolute;
    top:0px;
    left: 50%;
    margin-left:-500px;
}

body {
    background-color: white;
}
img#water {
    onclick:pointer;
}
img#demo {
    onclick:pointer;
}
img#jujuOpen {
    onclick:pointer;
}
img#hero {
    onclick:pointer;
}
img#slayer {
    onclick:pointer;
}
img#luffy {
    onclick:pointer;
}
img#thanks {
    onclick:pointer;
}